*{
    margin: 0;
    padding: 0;
}

#disclamer {
    font-weight: 600;
    

}
#logo{
    height: 60px;
    margin-top: 10px;
    margin-right: 10px;
}
.heart{
    position: sticky;
    font-size: 50px;
       
}
.heart i{
    padding-left: 15px;
    padding-top: 15000px;

}

img{
    pointer-events: none;
}

body{
    font-family: sans-serif !important;
}


#nav-bar{
    position: sticky;
    top: 0;
    z-index: 10;
}

.navbar{
    background-image: linear-gradient(to right,#ffffff, #e9fcfb);
    padding: 0 !important;
}

/*--------navbar-brand-----------*/

.navbar-brand img{
    height: 40px;
    padding-left: 20px;

}

.navbar-brand i{
    color: #01220e;
    font-size: 30px;
    padding: 5px 5px;
    
    
    
}
.avbar-nav ul {
    float: right;
    position: relative;
}
.navbar-nav li {
    padding: 0 10px;
}

.navbar-nav li  a {
    color: #000000 !important;
    font-weight: 500;
    float: right;
    text-align: left  ;

}

.navbar-toggler{
    
    outline: none !important;
}

/* --------------banner ------------------*/
#banner{
    background-image: linear-gradient(to right,#ffffff, #e9fcfb);
    color: #000000;
    padding-top: 1%;
}

.promo-title{
    font-size: 35px;
    font-weight: 600;
    margin-top: 90px;
}

.bag-img{
    width: 200px;
    margin: 0 10px;
    
}

.banner-img{
    height: auto;
    
}

.bottom-img{
    width: 100%;
    height: 10%;
   
}

.back-img{
    position: fixed;
    
    
}
iframe{
    margin: 10px 10px;
    
    
}
/*----------------Items-----------------------*/
.col-md-12 {
    
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    
    
    
  }
  .col-md-12 ul{
    display: sticky;
    justify-content: space-between;
    padding-right: 10px;
    border: ridge;
    border-color: rgb(255, 153, 0);
    line-height: 400%;
    
  }

iframe{
    display: inline;
    
    
}
/*-------------------top toolbar---------------------------*/
.topbar-container{
    display: block;
    text-align: center;
    background-image: linear-gradient(to right,#ffffff, #e9fcfb);
    border: 0.1px dotted;
    border-color: transparent;
    
    
    
}


.topbar-container li img{
    height: 40px;
}

.topbar-container li{
    text-decoration: none;
    display: inline-block;
    padding-right: 100px;
    
}

.topbar-container a{
    text-decoration: none;
    color: #000000;
    
    
}


/*------------------disclaimer------------------------*/

.container-footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 80px;
    background-image: linear-gradient(to right,#f39c9c, #07f7eb);
    font-weight: 500;
    column-count: 2;
    padding-left: 200px;
    
   
}


.left a,
.right a{
    text-decoration: none;
    color: #000000;
   

}

.holder {
    overflow: hidden;
    background-image: none;
  }
  .news {
    animation : slide 30s linear infinite;
    
  }
  
  @keyframes slide {
    0% {
      transform: translatex(0%)
    }
  
    100% {
      transform: translatex(100%)
    }
  }
/*-------------------disclaimer-----------------------*/
